.centered-container {
    margin: auto;
}

@media (max-width: 575.98px) {
    .centered-container {
        width: 95vw;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .centered-container {
        width: 80vw;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .centered-container {
        width: 70vw;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
    .centered-container {
        width: 60vw;
    }
}

@media (min-width: 1200px) and (max-width: 1599.98px) { 
    .centered-container {
        width: 50vw;
    }
}

@media (min-width: 1600px) { 
    .centered-container {
        width: 40vw;
    }
}



.btn-outline-dark, .badge-outline-dark {
    border: 1px solid lightgray;
}

.btn-outline-dark:hover {
    background: black;
}

.badge-outline-dark {
    font-weight: 100;
}

.list-group-flush {
    padding: 0 10px;
}

#search-section {
    margin-top: 50px;
}

#suggestions-section {
    margin-top: 5px;
    max-height: 30vh;
    overflow-y: scroll;
}

#suggestions-section li {
    transition: 0.2s ease-out;
}

#suggestions-section li .badge {
    transition: 1s ease-out;
}

#suggestions-section li:hover {
    cursor: pointer;
}

#suggestions-section li:active { 
    background: black;
    color: white;
    transition: 0.1s ease-in;
}

#suggestions-section li:active .badge {
    background: white;
    color: orange;
    transition: 0.1s ease-in;
}

.badge-added {
    color: green;
    font-weight: 100;
    transition: 0.1s ease-in;
}

.badge-remove {
    color: red;
    font-weight: 100;
    transition: 0.1s ease-out;
}

.badge-add {
    font-weight: 100;
    transition: 0.1s ease-out;
}

.badge-remove:hover {
    cursor: pointer;
}

.badge-remove:active {
    background: black;
    color: white;
    transition: 0.1s ease-in;
}


.list-group-header {
    position: sticky;
    display: flex;
    padding: 0;
}

.list-group-header input{
    border: none;
}

.list-group-header button{
    border: none;
    border-left: 1px solid lightgray;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.track-text {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
}

h1 {
    margin-top: 40px;
}

p {
    font-size: 1.3rem;
    font-weight: 200;
}

.spinner-grow {
    height: 1em;
    width: 1em;
    
}

.list-item-track img {
    width: 40px;
}

.playButton svg {
    color: rgba(207, 207, 207, 0.856);
    opacity: 0;
    transition: 0.2s ease-out;
    -webkit-backdrop-filter: brightness(1);
    backdrop-filter: brightness(1);
}

.playButton:hover svg {
    opacity: 100;
    transition: 0.1s ease-in;
    cursor: pointer;
    -webkit-backdrop-filter: brightness(0.7);
    backdrop-filter: brightness(0.7);
}

#stopBtn {
    display: none;
    color: white;
    position: fixed;
    top: 7px;
    right: 15px;
    background: black;
    padding: 1px 15px;
    border-radius: 100px;
}

#stopBtn:hover {
    cursor: pointer;
    color: black;
    background: white;
    transition: 0.1s ease-in;
    border: 1px solid lightgray;
}